version: '3'

services:
  nginx-proxy:
    container_name: nginx_proxy
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  mysql-8:
    image: mysql:8.0.14
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    container_name: mysql_8
    ports:
      - "33060:3306"
    volumes:
      - ./db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root

  example-apache:
    container_name: apache_web
    build: ./builds/apache-example
    environment:
      - VIRTUAL_HOST=example-apache.test
    volumes:
      - ../example-apache:/var/www/example-apache
    links:
      - mysql-8

  example-nginx:
      container_name: nginx_web
      build: ./builds/nginx-example
      environment:
        - VIRTUAL_HOST=example-nginx.test
      volumes:
        - ../example-nginx:/var/www/example-nginx
      links:
        - php-72-fpm

  php-72-fpm:
    container_name: php_72_fpm
    build: ./builds/php-72-fpm
    ports:
      - "9001:9000"
    volumes:
      - ../:/var/www/
    links:
      - mysql-8
